!!!
%html
  %head
    %title Kittygram!
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"} 
    %meta{:name => "keywords", :content => "instagram instagr.am twitter tweet tweets cat cats"} 
    %meta{:name => "description", :content => "Instagram for cat lovers."}
    %meta{:content => "Kittygram!", :property => "og:title"}
    %meta{:content => "website", :property => "og:type"}
    %meta{:content => "http://kittygram.heroku.com/", :property => "og:url"}
    %meta{:content => "Instagram for cat lovers.", :property => "og:description"}
    %meta{:content => "1090230245", :property => "fb:admins"}
    %link{:href => "http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css", :rel => "stylesheet"}
    %link{:href => "style.css", :rel => "stylesheet"}
  %body
    #container
      %h1 Kittygram!
      %ul#results
        - @results.each do |r|
          %li.photo_wrapper
            %img.photo{:style => 'background: url(' + r + ') center no-repeat;'}
      #footer
        %ul#share_buttons
          %li#tw_button
            %a.twitter-share-button{"data-count" => "none", "data-text" => "Kittygram: Instagram for cat lovers.", "data-url" => "http://kittygram.heroku.com", :"data-via" => "cleerview", :href => "http://twitter.com/share"} Tweet
          %li#fb_button
            <iframe src='http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fkittygram.heroku.com&amp;layout=button_count&amp;show_faces=false&amp;width=80&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21' scrolling='no' frameborder='0' style='border:none; overflow:hidden; width:100px; height:21px;' allowTransparency='true'></iframe>
        %p
          Built by
          %a{:href => 'http://chrsl.net'} Chris Lee
      #fade_left
      #fade_right
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "script.js", :type => "text/javascript"}
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19583432-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();