/* Color theme: http://kuler.adobe.com/#themeID/1095642 */

body {
  background: #eee;
  color: #222;
	font: 14px 'PT Sans Caption', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 20px;
  text-shadow: #fff 0 2px 0;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  width: 612px;
  margin: 0 auto;
  text-transform: uppercase;
}

.result {
  width: 612px;
  margin: 0 auto;
  padding: 10px;
}

.info {
  overflow: hidden;
}

.text {
  font-size: 20px;
}

img.photo {
  width: 612px;
  height: 612px;
  margin-bottom: 10px;
}

img.avatar {
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 10px;
}

li.user {
  font-weight: bold;
}