@font-face {
  font-family: 'Sniglet';
  font-style: normal;
  font-weight: 800;
  src: local('Sniglet'), url('http://themes.googleusercontent.com/font?kit=1ZHjsYpklbehZSiZpN0bvi3USBnSvpkopQaUR-2r7iU') format('truetype');
}

html {
  background: #333;
  color: #aaa;
  font: 14px/1 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#container {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -238px;
  margin-top: -180px;
  width: 476px;
  height: 360px;
}

#fade_left, #fade_right {
  background: url(../images/fade.png);
  position: absolute;
  bottom: 0;;
  width: 100px;
  height: 276px;
  z-index: 30;
}

#fade_left {
  background-position: 100px 0;
  left: 0;
}

#fade_right {
  background-position: 0 0;
  right: 0;
}

h1 {
  color: #fafafa;
  font-weight: bold;
  font: 54px/1 'Sniglet', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 0 2px 3px #222;
  text-transform: lowercase;
}

a {
  font-weight: bold;
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.photo_wrapper {
  overflow: hidden;
  padding: 0 100px;
}

.photo {
  -moz-border-radius: 20px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  height: 270px;
  overflow: hidden;
  width: 270px;
}

#footer {
  z-index: 40;
  position: absolute;
  bottom: 0;
  background: #222;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  border-top: 2px solid #444;
}

#footer p {
  float: right;
  font-size: 12px;
  line-height: 20px;
  text-transform: lowercase;
  margin-right: 10px;
}

ul#share_buttons {
  float: left;
  overflow: hidden;
  margin-left: 10px;
}

ul#share_buttons li {
  float: left;
  height: 20px;
}

ul#share_buttons li#fb_button {
  height: 18px;
  margin: 1px 0 1px 10px;
}
