@font-face {
  font-family: 'Just Another Hand';
  font-style: normal;
  font-weight: normal;
  src: local('Just Another Hand'), local('JustAnotherHand-Regular'), url('http://themes.googleusercontent.com/font?kit=fKV8XYuRNNagXr38eqbRf1IfqgZqv9KXZDd4_em_FKQ') format('truetype');
}

@font-face {
  font-family: 'Sniglet';
  font-style: normal;
  font-weight: 800;
  src: local('Sniglet'), url('http://themes.googleusercontent.com/font?kit=1ZHjsYpklbehZSiZpN0bvi3USBnSvpkopQaUR-2r7iU') format('truetype');
}

body {
  background: #eee;
  color: #222;
  font: 14px/1.5 Calibri, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  padding: 20px;
}

#container {
  width: 814px;
  margin: 0 auto;
  position: relative;
}

h1 {
  font: 72px/1 'Sniglet', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

a {
  color: #d88c00;
  text-decoration: none;
}

#fade_left, #fade_right {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 100;
}

#fade_left {
  left: 0;
  background: url('fade_left.png');
}

#fade_right {
  right: 0;
  background: url('fade_right.png');
}

.info {
  width: 592px;
  padding: 10px;
  background: #fff;
  -webkit-box-shadow: #ccc 0px 1px 5px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.details {
  width: 534px;
  float: left;
}

.result {
  width: 612px;
  padding: 0 100px;
}

.text {
  font: 30px 'Just Another Hand', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

img.photo {
  width: 612px;
  height: 612px;
  margin-bottom: 10px;
  -webkit-box-shadow: #ccc 0px 1px 5px;
  border: 1px solid #ccc;
}

img.avatar {
  width: 46px;
  height: 46px;
  float: left;
  margin-right: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
}

li.user {
  font-weight: bold;
  margin-bottom: 5px;
}

#footer {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}