/* Color theme: http://kuler.adobe.com/#themeID/1095642 */

body {
  background: #191514;
  color: #e50073;
	font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  background: #e50073;
  color: #191514;
  padding: 10px;
}

.result {
  width: 612px;
  background: #4c2e2e;
  padding: 10px;
}

.info {
  background: #191514;
  overflow: hidden;
  padding: 10px;
}

img.photo {
  margin-bottom: 10px;
}

img.avatar {
  float: left;
  margin-right: 10px;
}

li.user {
  font-weight: bold;
}